<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuário Não Encontrado</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/404-styles.css" />
    <link
      rel="shortcut icon"
      href="../imgs/twitchprofiles-logo.png"
      type="image/x-icon"
    />
    <meta
      name="description"
      content="Informações sobre streamers e usuários da plataforma Twitch.Tv!"
    />
    <meta name="keywords" content="Twitch, Streamer, Emotes" />
    <meta property="og:title" content="Twitch Profiles" />
    <meta
      property="og:description"
      content="Informações sobre streamers e usuários da plataforma Twitch.Tv!"
    />
    <meta
      property="og:image"
      content="https://twitchprofiles-2.onrender.com/imgs/twitchprofiles-logo.png"
    />
    <meta property="og:url" content="https://twitchprofiles-2.onrender.com" />
  </head>
  <body>
    <main class="main">
      <div class="main__container">
        <div class="main__info">
          <h1 class="info__header">
            O usuário pelo qual você procurou não existe!
          </h1>
          <p class="info__text">
            Clique no botão abaixo para retornar à página inicial
          </p>
          <a class="info__redirect" href="https://twitchprofiles-2.onrender.com"
            >Voltar</a
          >
        </div>
      </div>
    </main>
  </body>
</html>
