<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Informações sobre streamers e usuários da plataforma Twitch.Tv"
    />
    <meta name="keywords" content="Twitch, Streamer, Emotes" />
    <meta property="og:title" content="Twitch Profiles" />
    <meta
      property="og:description"
      content="Informações sobre streamers e usuários da plataforma Twitch.Tv"
    />
    <meta
      property="og:image"
      content="https://twitchprofiles-2.onrender.com/imgs/twitchprofiles-logo.png"
    />
    <meta property="og:url" content="https://twitchprofiles-2.onrender.com" />

    <title></title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/profile.css" />
    <link
      rel="shortcut icon"
      href="../imgs/twitchprofiles-logo.png"
      type="image/x-icon"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
  </head>

  <body>
    <div class="main__container">
      <a class="visit__user" target="_blank" href="">Visitar Perfil</a>
      <div class="user__insights">
        <nav class="link__nav standard__background">
          <div class="nav__fixer"></div>
          <button id="nav__toggle"></button>
          <ul class="nav__list">
            <li class="list__item">
              <a href="#twitch__button" id="twitch__anchor">Emotes Twitch</a>
            </li>
            <li class="list__item">
              <a href="#bttv__button" id="bttv__anchor">Emotes BTTV</a>
            </li>
            <li class="list__item">
              <a href="#ffz__button" id="ffz__anchor">Emotes FrankerFZ</a>
            </li>
            <li class="list__item">
              <a href="#offline__button" id="offline__anchor">Imagem Offline</a>
            </li>
          </ul>

          <form id="user__search">
            <input
              id="search__input"
              placeholder="Canal"
              type="text"
              spellcheck="false"
            />
            <input id="search__submit" value="Buscar" type="submit" />
          </form>
        </nav>

        <section id="section__profile">
          <div class="profile__container">
            <img
              id="profile__img"
              src="../imgs/raccoons-gray.png"
              alt="Imagem de Perfil"
            />
            <img
              id="profile__background"
              src="../imgs/raccoons-gray.png"
              alt=""
            />
            <div class="profile__details">
              <div>
                <h1 id="details__name">
                  <span class="standard__background"></span>
                </h1>
                <p id="details__language" class="standard__background"></p>
              </div>
              <a
                id="details__redirect"
                href=""
                class="standard__background"
                target="_blank"
                >Twitch Link<img
                  src='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="" height="" fill="%23668bbb" class="bi bi-box-arrow-in-up-right" viewBox="-1 0 16 10"><path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"/><path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"/></svg>'
              /></a>
            </div>
          </div>
        </section>

        <hr />

        <section class="section__info">
          <div>
            <div class="info__container">
              <p id="info__description" class="standard__background"></p>
            </div>
            <div class="info__wrapper">
              <p id="channel__type" title="Tipo de Canal">
                <img
                  src='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="%23fff" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>'
                /><span class="standard__background"></span>
              </p>
              <p id="created__at" title="Criada Em">
                <img
                  src='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="%23fff" class="bi bi-calendar-event-fill" viewBox="0 0 16 16"><path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/></svg>'
                /><span class="standard__background"></span>
              </p>
              <p id="is__live" title="Ao Vivo?">
                <img
                  src='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="%23fff" class="bi bi-camera-video-fill" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z"/></svg>'
                /><span class="standard__background"></span>
              </p>
              <p id="channel__team" title="Equipe">
                <img
                  src='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="%23fff" class="bi bi-people-fill" viewBox="0 0 16 16"><path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/><path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/></svg>'
                /><span class="standard__background"></span>
              </p>
            </div>

            <hr />

            <div class="badge__container">
              <ul class="badge__list"></ul>
            </div>
          </div>
        </section>
        <hr />
        <section class="section__game">
          <div class="game__container">
            <div
              class="game__background"
              style="background-image: url('../imgs/raccoons-gray.png')"
            ></div>
            <h1 class="game__header standard__background">
              <span>Jogo Atual</span>
            </h1>
            <div style="display: flex">
              <div class="game__details">
                <img
                  id="game__img"
                  src="../imgs/raccoons-gray.png"
                  alt="Jogo"
                />
                <div class="details__extra">
                  <h3 id="game__name"></h3>
                  <br />
                  <div class="extra__wrapper">
                    <h4 id="title__header">Título:</h4>
                    <p id="stream__title"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <hr />
      </div>

      <div class="emotes__container">
        <h1 id="emotes__header">
          <span class="standard__background txt__center">Emotes E Imagens</span>
        </h1>
        <div class="emotes__options">
          <div class="options__buttons">
            <div>
              <button id="twitch__button" title="Emotes de Inscrito"></button>
              <p>Emotes de<br />Inscrito</p>
            </div>
            <div>
              <button id="bttv__button" title="Emotes BetterTTV"></button>
              <p>Emotes<br />BetterTTV</p>
            </div>

            <div>
              <button id="ffz__button" title="Emotes FrankerFaceZ"></button>
              <p>Emotes<br />FrankerFZ</p>
            </div>
            <div>
              <button id="offline__button" title="Imagem Offline"></button>
              <p>Imagem<br />Offline</p>
            </div>
          </div>

          <div class="emotes__display">
            <div class="display__loading"></div>
            <img class="placeholder__img" src="../imgs/raccoons-gray.png" />
            <div id="display__twitch"></div>
            <div id="display__bttv" style="display: none"></div>
            <div id="display__ffz" style="display: none"></div>
            <div id="display__offline"></div>
          </div>
        </div>
      </div>
    </div>

    <script type="module" src="../js/profile/index.js"></script>
  </body>
</html>
