/* CSS CONTEUDO PRINCIPAL */
body {
    background: linear-gradient(rgba(5, 5, 5, .9) 5.3%, #668bbb 700%, #000);
    background-color: #000;
    height: 100vh;
    /* background-color: rgba(5, 5, 5, 1); */
}

h1 {
    color: var(--cor-light);
    font-family: var(--ff-big-txt);
    font-size: var(--fs-extra-grande);
    letter-spacing: 4px;
    text-shadow: 2px 2px rgb(32, 32, 32);
    border-radius: 10px;
}

h2 {
    color: var(--cor-light);
    font-family: var(--ff-big-txt);
    font-size: var(--fs-grande);
    letter-spacing: 4px;
    text-shadow: 2px 2px rgb(32, 32, 32);
    border-radius: 10px;
}

h3 {
    font-size: clamp(1rem, 3vw, 2rem);
}

h4 {
    font-size: clamp(.8rem, 2.5vw, 1.8rem);
}

.info_esqrd p {
    font-family: var(--ff-standard);
    font-size: var(--fs-normal);
    line-height: 1.3;
}

.campo_principal {
    background: linear-gradient(rgba(5, 5, 5, .9) 5.3%, #668bbb 700%, #000);
    background-color: #000;
    scroll-behavior: smooth;
    margin-inline: auto;
    display: flex;
    border: 2px solid rgb(77, 77, 77);
    border-radius: 5px;
    width: 99%;
    min-width: 270px;
    height: 99%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    scrollbar-color: rgb(180, 180, 180) rgba(39, 39, 39, .4);
    /* FIREFOX SCROLLBAR */
    scrollbar-width: thin;
    /* FIREFOX SCROLLBAR */
    overflow-x: hidden;
}

.info_esqrd {
    overflow-y: scroll;
    margin-inline: auto;
    width: 52%;
    max-width: 61.5rem;
    scrollbar-color: rgb(180, 180, 180) rgba(39, 39, 39, .4);
    /* FIREFOX SCROLLBAR */
    scrollbar-width: none;
    /* FIREFOX SCROLLBAR */
}

.bckgrnd-black5rad {
    background-color: rgba(39, 39, 39, .4);
    background-clip: padding-box;
    border-radius: 5px;
}

/* NAVBAR TOP LEFT. */
nav {
    overflow: visible;
    display: flex;
    position: relative;
    height: clamp(2.5rem, 5vw, 3rem);
    align-items: center;
}

input {
    color: rgb(214, 214, 214);
    height: clamp(1.8rem, 5vw, 2.4rem);
    background-color: rgb(77, 77, 77);
    border: 3px solid rgb(80, 80, 80);
    font-weight: 500;
    font-size: 1.5rem;
    font-size: clamp(.7rem, 2.5vw, 1.5rem);
    font-family: var(--ff-standard);
}

input:focus {
    background-color: rgba(54, 54, 54, 0.9);
    filter: drop-shadow(0 0 4px rgba(41, 41, 41, 0.4));
    border: 3px solid rgba(54, 54, 54, 0.9);
    outline: none;
    color: var(--cor-light);
}

input:hover {
    background-color: rgba(48, 48, 48, 0.9);
    border: 3px solid rgba(48, 48, 48, 0.9);
}


#buscarCanal {
    width: clamp(5rem, 20vw, 20rem);
    padding-left: 1rem;
    margin-left: 1rem;
    border-radius: 5px 0 0 5px;
}

#submit {
    background-repeat: no-repeat;
    background-size: 2rem 2.5rem;
    background-position: center;
    border-radius: 0 5px 5px 0;
    outline: none;
    transition: .1s;
    width: clamp(2.5rem, 11vw, 9rem);
    cursor: pointer;
}

/* nav > #searchForm > span > img {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="" height="" fill="white" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>');
    width: clamp(1.8rem,5vw,3rem);
    height: clamp(1.5rem,8vw,2.5rem);
    align-content: center;
    cursor: pointer;
} */

#primSetorEsqrd {
    margin-top: 1rem;
}

.prim_setor {
    display: flex;
    position: relative;
    padding-bottom: .5rem;
    /* max-width: 70rem; */
}

#perfilIMG {
    border-radius: 50%;
    min-width: 7.1rem;
    max-width: 20rem;
    width: min(40%, 15rem);
    width: 40%;
    height: 25%;
    /* background-color: lightgreen; */
}

#perfilIMGFundo {
    position: absolute;
    border-radius: 50%;
    min-width: 7.1rem;
    max-width: 20rem;
    width: min(40%, 15rem);
    width: 40%;
    height: 100%;
    right: 8%;
    opacity: .1;
    filter: blur(8px);
}

.exibir_nome {
    position: relative;
    width: 60%;
    flex-direction: column;
}

#nomeExibido span {
    display: block;
    text-align: center;
}

#paginaTwitch img {
    width: clamp(.9rem, 1.8vw, 1.5rem);
    height: clamp(.9rem, 1.8vw, 1.5rem);
}

#linguagem {
    display: inline;
    font-family: var(--ff-standard);
    font-size: clamp(.9rem, 1.8vw, 1.5rem);
    padding-inline: .5rem;
    margin-top: .5rem;
    float: left;
}

.exibir_nome a {
    position: absolute;
    color: rgb(102, 139, 187);
    font-size: clamp(.9rem, 1.8vw, 1.5rem);
    font-family: var(--ff-standard);
    bottom: 0;
    right: .5rem;
    opacity: .9;
    filter: blur(.5px);
    padding-inline: .5rem;
}

.descricao {
    border-top: 1px solid rgb(180, 180, 180);
    padding-block: .7rem;
    padding-inline: 1rem;
}

#descricaoUsuario {
    overflow: hidden;
    word-wrap: break-word;
    text-align: center;
    font-size: clamp(12px, 3.5vw, 19px);
}

.campo_infos {
    width: 100%;
    display: flex;
    padding-block: .5rem;
    font-size: clamp(11.5px, 3vw, 18px);
    border-top: 1px solid rgb(180, 180, 180);
    justify-content: center;
    align-items: center;
}

.campo_infos p {
    margin: auto;
    position: relative;
}

.campo_infos img {
    width: 1.5rem;
    height: 1.5rem;
    opacity: .8;
    position: relative;
    top: 7px;
    right: 5px;
}

/* #viewCount::before {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="%23fff" class="bi bi-eye-fill" viewBox="0 0 16 16"><path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/><path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/></svg>'); 
    opacity: .8; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 7px;
    right: 5px;
}

#createdAt::before {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="%23fff" class="bi bi-calendar-event-fill" viewBox="0 0 16 16"><path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/></svg>');
    opacity: .8; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 7px;
    right: 5px;
}

#followers::before {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="%23fff" class="bi bi-heart-fill" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>');
    opacity: .8; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 7px;
    right: 5px;
} */



/* #isLive img {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="%23fff" class="bi bi-camera-video-fill" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z"/></svg>');
} */

/* #broadType img {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="%23fff" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>');
    opacity: .8; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 7px;
    right: 5px;
} */

/* #streamTeam img {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="%23fff" class="bi bi-people-fill" viewBox="0 0 16 16"><path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/><path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/></svg>');
    opacity: .8; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 7px;
    right: 5px;
} */

.campo_infos p {
    padding-inline: .5rem;
    font-size: clamp(12px, 1.8vw, 18px);
    text-align: center;
}

/* Adds the <br> before the span */
@media (max-width: 316px) {
    .brBefore {
        white-space: pre;
    }

    .brBefore::before {
        content: '\A';
    }
}

.ultm_jogo {
    padding-top: .5rem;
    padding-bottom: 1rem;
    position: relative;
    z-index: 1;
    /* width: 100%; */
    height: auto;
    /* max-width: 48.5rem; */
    border-top: 1px solid rgb(180, 180, 180);
}

.ultm_jogo_fundo {
    /* content: ""; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .1;
    z-index: -1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.ultm_jogo>div {
    margin-left: 0rem;
}

.jogo_atual_titulo {
    display: inline;
    margin-left: -0rem;
    margin-bottom: .5rem;
    padding-left: .5rem;
    padding-right: 1rem;
    max-width: 24.25rem;
    /* font-size: clamp(1.2rem,3.5vw,2.8rem); */
    font-family: var(--ff-big-txt);
    letter-spacing: 4px;
    text-shadow: 2px 2px rgb(32, 32, 32);
    border-radius: 10px;
}

.info_jogo {
    display: flex;
}

img#jogoIMG {
    width: clamp(130px, 24vw, 250px);
    height: clamp(150px, 24vw, 250px);
    border-radius: 5px;
    display: block;
    padding-bottom: -.5rem;
    padding-inline: .5rem;
    opacity: .9;
    float: left;
}

img#jogoIMG:hover {
    transition: .1s;
    opacity: 1;
}

.info_jogo_direita {
    padding-left: .3rem;
    padding-right: .6rem;
}

.info_jogo>div>h1 {
    font-size: clamp(1.1rem, 3.5vw, 2.1rem);
}

.info_titulo {
    word-break: break-all;
    font-size: clamp(13px, 2vw, 18px);
    padding-right: 1rem;
    line-height: 1.4;
}

#hideBtn {
    /* background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="3.5rem" height="3.5rem" fill="white" class="bi bi-chevron-up" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>'); */
    padding: 5px;
    background-repeat: no-repeat;
    background-position: center;
    height: 20%;
    width: 5%;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    color: rgb(255, 255, 255);
    font-size: clamp(38px, 7.5vw, 60px);
    float: right;
    opacity: .9;
    background-clip: padding-box;
    border-radius: 5px;
    background-color: rgba(19, 19, 19, 0.6);
}

#hideBtn>img {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="2.5rem" height="2.5rem" fill="white" class="bi bi-chevron-up" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>');
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hide {
    transition: .1s ease-out;
    opacity: 0;
    display: none;
}

.usuario_seguindo {
    text-align: center;
    width: 100%;
}

#seguindoH1 span {
    padding-block: .5rem;
    font-size: clamp(1.2rem, 4vw, 2.8rem);
    text-align: center;
    margin-inline: auto;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 1.428;
}

#usuarioEsqrd {
    padding-left: 1rem;
    margin-left: 1rem;
    border-radius: 5px 0 0 5px;
}

#usuarioEsqrdBusca {
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

#respSeguindo {
    text-align: center;
}

.form-input-div {
    height: fit-content;
}

#formSeguindo input {
    height: 100%;
    max-height: 2.5rem;
    font-size: clamp(1.2rem, 4vw, 1.7rem);
    margin-left: 0;
}

.seguir_imgs {
    position: relative;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#usuarioEsqrdIMG {
    background-color: rgb(180, 180, 180);
    padding: .3rem;
    min-width: 4.7rem;
    max-width: 12rem;
    border-radius: 50%;
}

/* #fromIMG2 {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="300px" height="300px" fill="%231c1c1c" class="bi bi-emoji-smile-fill" viewBox="0 0 16 16"><path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zM4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z"/></svg>');
    background-color: rgb(180,180,180);
    padding: .3rem;
    min-width: 19.7rem;
    max-width: 27rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    filter: blur(15px);
    opacity: .5;
    z-index: -10;
}

#toIMG2 {
    padding: .3rem;
    min-width: 19.7rem;
    max-width: 27rem;
    border-radius: 50%;
    position: absolute;
    right: 0;
    filter: blur(15px);
    opacity: .5;
    z-index: -10;
} */

.corte_meio {
    height: 5px;
    width: 20%;
    margin-inline: 1rem 1rem;
    background-color: rgb(180, 180, 180);
}

#resultSeguindo {
    width: 3rem;
    height: 3rem;
}

#usuarioDireitaIMG {
    min-width: 4.7rem;
    max-width: 12rem;
    /* width: 8rem;
    height: 8rem; */
    border-radius: 50%;
}

.follow-status {
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.follow-status>h1 {
    text-align: center;
}

.follow-status>h1 {
    font-size: clamp(1.4rem, 3vw, 2.8rem);
    letter-spacing: 4px;
    font-family: var(--ff-big-txt);
    text-align: center;
}

.follow-status span {
    padding: .5rem 1rem;
}

.follow-status>p {
    font-size: clamp(.8rem, 1vw, 1.5rem);
    font-family: var(--ff-standard);
}

.content-fit {
    /* border: 2px solid teal; */
    display: flex;
    flex-direction: column;
    /* width: fit-content; */
    margin-inline: auto;
    /* padding: clamp(.5rem,1vw,1rem); */
}

.follow-all {
    display: flex;
    /* width: clamp(15rem,45vw,35rem); */
    width: 100%;
    max-width: 38rem;
    margin-inline: auto;
    flex-direction: column;
    outline: 2px solid silver;
}

.follow-all img {
    margin-inline: 1rem;
}

.follow-all input {
    color: rgb(214, 214, 214);
    background-color: rgb(68, 68, 68);
    border: 3px solid rgb(80, 80, 80);
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: var(--ff-standard);
    width: 62%;
    margin-bottom: 1rem;
    margin-inline: .5rem;
}

.follow-all input:focus {
    background-color: rgba(54, 54, 54, 0.9);
    filter: drop-shadow(0 0 4px rgba(41, 41, 41, 0.4));
    border: 3px solid rgba(54, 54, 54, 0.9);
    outline: none;
    color: var(--cor-light);
}

.follow-all input:hover {
    background-color: rgba(48, 48, 48, 0.9);
    border: 3px solid rgba(48, 48, 48, 0.9);
}

.input-img-user {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
}

.input-img-channel {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-end;
}

#profileIMG-user {
    border-radius: 50%;
    /* margin-inline: auto; */
    width: 40vw;
    max-width: 7rem;
    height: auto;
}

#profileIMG-channel {
    border-radius: 50%;
    width: 40vw;
    max-width: 7rem;
    height: auto;
}

.follow-connection {
    padding-inline: 5.7rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
    /* outline: 2px solid pink; */
}

.connection-item {
    margin-bottom: 1.2rem;
    width: 100%;
    height: 3rem;
    border-bottom: 2px dashed;
}

.connection-result {
    width: 8rem;
    height: 3rem;
    background-color: indianred;
    border-radius: 50%;
    margin-inline: 1.5rem;
    align-self: flex-end;
}

.info_direita {
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgb(94, 94, 94);
    /* border: 4px solid lightblue; */
    width: 48%;
}

#emotesEImagens {
    width: 100%;
    text-align: center;
    display: flex;
    /* white-space: pre; */
    height: 20rem;
    align-items: center;
    justify-content: center;
}

#emotesEImagens span {
    padding-block: .5rem;
    padding-inline: 1rem;
}

.botoes_e_imgs {
    /* border-top-right-radius: 4px; */
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-y: hidden;
    align-items: center;
    overflow-x: hidden;
}

.botoes_info {
    display: flex;
    flex-direction: column;
    margin-inline: 5px;
    padding-top: .1rem;
    align-items: center;
    text-align: center;
    height: 89%;
    width: max(3rem, 10%);
    min-width: 3.8rem;
    overflow-y: scroll;
    scrollbar-color: rgb(180, 180, 180) rgba(39, 39, 39, .4);
    /* FIREFOX SCROLLBAR */
    scrollbar-width: none;
    /* FIREFOX SCROLLBAR */
    background-color: rgba(30, 30, 30, .3);
    border-radius: 10px;
}

.botoes_info>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    width: 95%;
    height: 95%;
}

.botoes_info>div button {
    /* margin-block: 50%; */
    /* margin-inline: 20px; */
    /* margin: clamp(.3rem,.8vw,1rem); */
    width: 100%;
    padding-top: 100%;
    border-radius: 5px;
    border: none;
    background-color: rgba(39, 39, 39, .9);
    cursor: pointer;
}

.botoes_info>div button:hover {
    background-color: rgba(7, 7, 7, 0.9);
    filter: drop-shadow(0 0 4px rgba(155, 155, 155, .3));
    filter: drop-shadow(0 0 15px rgba(106, 199, 253, 0.425));
}

.botoes_info>div button:focus {
    outline: 0;
    background-color: rgba(0, 0, 0, 0.9);
    filter: drop-shadow(0 0 4px rgba(155, 155, 155, .4));
    background-color: rgba(255, 255, 255, 0.05);
    /* filter: invert(59%) sepia(50%) saturate(707%) hue-rotate(174deg) brightness(200%) contrast(90%); Boa cor para outros projetos */
    filter: invert(59%) sepia(15%) saturate(707%) hue-rotate(174deg) brightness(200%) contrast(90%) drop-shadow(0 0 15px rgba(106, 199, 253, 0.425));
    /* filter: drop-shadow(0 0 20px rgba(106, 199, 253, 0.425)); */
}

.botoes_info>div p {
    display: flex;
    text-align: center;
    /* padding-block: 10% 60%; */
    font-size: clamp(.8rem, 1vw, 1rem);
    font-family: var(--ff-standard);
    font-weight: 700;
    color: var(--cor-light);
    /* padding-inline: 20px; */
}

#twitchBtn {
    background-image: url('/imgs/twitchLogo.svg');
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    /* filter: drop-shadow(0 0 4px gray); */
}


#bttvBtn {
    background-image: url('/imgs/bttvLogo.svg');
    background-size: 95%;
    /* background-size: clamp(2.4rem,8vw,4.5rem); */
    background-position: center;
    background-repeat: no-repeat;
    /* background-origin: content-box; */
    /* filter: drop-shadow(0 0 4px gray); */
}

#seteTvBtn {
    background-image: url('/imgs/7TVLogo.svg');
    background-size: 95%;
    background-position: center;
    background-repeat: no-repeat;
}

#ffzBtn {
    background-image: url('/imgs/ffzLogo.svg');
    background-size: 98%;
    background-position: center;
    background-repeat: no-repeat;
    /* filter: drop-shadow(0 0 4px gray); */
    /* background-origin: content-box; */
}

#offlineBtn {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="222px" height="208px" fill="%23fff" class="bi bi-card-image" viewBox="0 0 16 16"><path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/><path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/></svg>');
    background-size: 95%;
    background-position: center;
    background-repeat: no-repeat;
    /* filter: drop-shadow(0 0 4px gray); */
}

.campo_imgs {
    background-image: linear-gradient(0deg,
            rgba(28, 28, 28, 1) 23.8%,
            rgba(10, 10, 10, 1) 92%);
    display: flex;
    flex-wrap: wrap;
    padding-left: min(2vw, 12px);
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 5px;
    margin-block: auto;
    margin-right: clamp(.1rem, 1vw, 2rem);
    width: 87%;
    height: 90%;
    min-height: 20rem;
    text-align: center;
    overflow-y: scroll;
    scrollbar-color: rgb(180, 180, 180) rgba(39, 39, 39, .4);
    /* FIREFOX SCROLLBAR */
    scrollbar-width: thin;
    /* FIREFOX SCROLLBAR */
    position: relative;
}

.emoteIMG {
    margin: clamp(.3rem, .8vw, 1rem);
    width: clamp(48px, 5.5vw, 128px);
    height: clamp(48px, 5.5vw, 128px);
    /* width: 128px; */
    border: 1px solid rgba(180, 180, 180, .3);
    box-shadow: 0px 0px 40px rgba(80, 80, 80, .3);
}

.bttvIMG {
    position: relative;
    margin-right: auto;
    margin-top: auto;
    /* left: -5rem; */
    width: 50%;
    height: 60%;
    opacity: .8;
    filter: brightness(90%);
}

.sem_info_IMG {
    margin-right: auto;
    margin-top: auto;
    /* left: -5rem; */
    width: 50%;
    height: 60%;
    opacity: .8;
    filter: brightness(90%);
    opacity: .1;
    position: absolute;
    left: 30px;
    bottom: 40px;
}

::-webkit-scrollbar {
    width: 2vw;
    max-width: 12px;
}

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px var(--txt-bckgrnd-04opacity); */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(180, 180, 180);
    border: 1px solid rgb(180, 180, 180);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(161, 161, 161);
}

.info_esqrd::-webkit-scrollbar {
    display: inline;
    width: 5px;
    background: transparent;
    scrollbar-width: 5px;
    /* Firefox 64 */
}

.botoes_info::-webkit-scrollbar {
    display: none;
    width: 0px;
    background: transparent;
    scrollbar-width: none;
    /* Firefox 64 */
}

@media (max-width: 1570px) {
    .campo_imgs {
        width: 97.5%;
        height: 60vw;
        margin: auto;
    }

    .botoes_e_imgs {
        flex-direction: column;
    }

    .botoes_info {
        display: flex;
        flex-direction: row;
        width: 90%;
        /* margin: auto; */
        /* justify-content: center; */
        text-align: center;
        height: 10rem;
        min-height: 10rem;
        overflow-y: scroll;
        margin-block: auto;
    }

    .botoes_info>div>button {
        width: 8vw;
        height: 6vw;
        max-width: 6.5rem;
        /* min-height: 5rem; */
        padding-top: 0;
    }

    .botoes_info>div p {
        font-size: clamp(.7rem, 2.8vw, 1rem);
        justify-content: center;
    }
    
    #twitchBtn {
        background-size: contain;
        /* background: rgba(0,0,0,.1); */
        /* opacity: .1; */
    }
    #bttvBtn {
        background-size: contain;
    }
}

#navbarLista {
    display: none;
}

.navbar_links {
    display: none;
}

@media (max-width: 920px) {
    #navbarLista {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23d6d6d6" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>');
        display: inline;
        height: 3.2rem;
        width: 3.2rem;
        position: absolute;
        right: 0;
        background-repeat: no-repeat;
        background-size: contain;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        z-index: 20;
    }

    #paginaTwitch img {
        width: clamp(.9rem, 4vw, 1.5rem);
        height: clamp(.9rem, 4vw, 1.5rem);
    }

    .navbar_links {
        z-index: 10;
        padding: 0;
        margin: 0;
        display: none;
        flex-direction: column;
        position: absolute;
        right: 20px;
        top: 40px;
        width: 40%;
        min-width: 15rem;
        height: 25rem;
        background-color: rgba(25, 25, 25, .9);
        border-radius: 10px;
    }

    .href_li {
        list-style: none;
        /* padding-block: 1em; */
        height: 100%;
        border-radius: 10px;
    }

    .href_li a {
        display: flex;
        color: #fff;
        font-size: 1.5rem;
        padding-left: 1rem;
        font-family: var(--ff-lato);
        font-weight: 900;
        height: 100%;
        width: 100%;
        background-color: rgba(20, 20, 20, .3);
        /* background-color: blue; */
        /* color:  var(--cor-azul); */
        padding-top: 1.1rem;
        text-decoration: none;
        cursor: pointer;
        align-self: center;
        justify-self: center;
        border-radius: 10px;
    }

    .href_li a:hover {
        background-color: rgba(104, 175, 255, 0.5);
    }

    .href_li a:focus {
        background-color: rgba(104, 175, 255, 0.5);
    }

    .emoteIMG {
        margin: clamp(.3rem, .8vw, 1rem);
        width: clamp(48px, 10.5vw, 128px);
        height: clamp(48px, 10.5vw, 128px);
    }

    .campo_principal {
        overflow-y: scroll;
        flex-direction: column;
    }

    .info_esqrd {
        overflow-y: visible;
        width: 100%;
    }

    h1 {
        font-size: clamp(2.2rem, 6.8vw, 3.9rem);
    }

    #seguindoH1 span {
        font-size: clamp(1.7rem, 6.8vw, 3rem);
    }

    #linguagem,
    .exibir_nome a {
        font-size: clamp(.9rem, 3vw, 1.5rem);
    }

    .campo_infos p {
        font-size: clamp(11px, 3vw, 19px);
    }

    .info_secao2 p span {
        background-clip: content-box;
    }

    img#jogoIMG {
        width: clamp(200px, 40vw, 250px);
        height: clamp(200px, 40vw, 250px);
    }

    #nomeJogoH3 {
        font-size: clamp(1.2rem, 4vw, 2.3rem);
    }

    #tituloH4 {
        font-size: clamp(1rem, 4vw, 2rem);
    }

    #tituloStream {
        font-size: clamp(.8rem, 3vw, 1.3rem);
    }

    .info_direita {
        border-top: 1px solid rgb(180, 180, 180);
        border-left: 0;
        width: 100%;
        height: 100%;
    }

    .botoes_e_imgs {
        display: flex;
        flex-direction: column;
    }

    #emotesEImagens {
        padding-top: .5rem;
        padding-bottom: .7rem;
        height: 10rem;
    }

    .botoes_info {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-block: .5rem;
        align-items: stretch;
        justify-content: center;
        text-align: center;
        height: 10rem;
        min-height: 10rem;
        overflow-y: scroll;
        background-color: rgba(30, 30, 30, .3);
        border-radius: 10px;
    }

    .botoes_info>div {
        align-items: center;
    }

    .botoes_info>div button {
        width: 15vw;
        height: 13vw;
        max-width: 6.5rem;
        padding-top: 0;
    }

    .botoes_info>div p {
        font-size: clamp(.7rem, 2.8vw, 1rem);
        justify-content: center;
    }
    .campo_imgs {
        margin-inline: auto;
        margin-bottom: .5rem;
    }

}

@media (max-width: 450px) {
    #submit {
        background-image: var(--icn-busca);
        background-size: contain;
    }

    .prim_setor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .exibir_nome {
        width: 100%;
    }

    h1 {
        font-size: clamp(1.7rem, 10vw, 2.4rem);
        text-align: center;
    }

    #nomeExibido span {
        background-color: rgba(39, 39, 39, .3);
        display: inline-block;
        padding-inline: .5rem;
        margin-bottom: .5rem;
    }

    #perfilIMG {
        width: 60%;
        height: 50%;
        margin-bottom: .5rem;
    }

    #perfilIMGFundo {
        width: 100%;
        height: 100%;
        margin: auto;
        right: 0;
        left: 0;
        bottom: 0;
        top: -4rem;
    }

    #linguagem {
        position: relative;
        left: 0;
    }

    .exibir_nome a {
        right: 0;
    }

    .botoes_info {
        min-height: 4rem;
    }

    .ultm_jogo {
        text-align: center;
    }

    .info_jogo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .jogo_atual_titulo {
        text-align: center;
    }

    .info_jogo_direita {
        margin-inline: auto;
        width: 100%;
    }

    img#jogoIMG {
        width: clamp(200px, 30vw, 250px);
        height: clamp(200px, 30vw, 250px);
    }

    #nomeJogoH3 {
        font-size: clamp(1.2rem, 4vw, 2.3rem);
    }

    #tituloH4 {
        font-size: clamp(1.1rem, 4vw, 2.2rem);
    }

    #tituloStream {
        font-size: clamp(.9rem, 3vw, 1.4rem);
    }

    #formBuscaPagUsuario {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .navbar_links {
        right: 15px;
    }

    #formSeguindo input {
        font-size: clamp(.9rem, 4vw, 1.5rem);
        margin-left: 0;
    }
    
}

.bckgrnd_sem_info {
    display: flex;
    height: inherit;
    width: inherit;
    position: absolute;
}

.offlineIMG {
    width: 100%;
    height: 100%;
}

.offlineIMG img {
    object-fit: contain;
    width: 100%;
}

.loader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: transparent;
}

.campo_imgs {
    background: linear-gradient(rgba(5, 5, 5, .9) 5.3%, #668bbb 700%, #000);
    position: relative;
}

.campo_imgs_carregando {
    display: none;
    height: 100px;
    width: 100px;
    border: 10px solid #3d4247;
    border-top-color: #2a88e6;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin .8s infinite linear;
}

.campo_imgs>.campo_imgs_carregando {
    display: none;
    height: 100px;
    width: 100px;
    border: 10px solid #3d4247;
    border-top-color: #2a88e6;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin .8s infinite linear;
}

.img_sem_info {
    opacity: .1;
    position: absolute;
    left: 30px;
    bottom: 40px;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

